{% extends '_base.html' %}

{% block title %}
Walk Well
{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1 class="text-center">Walk Well</h1>
    <div id="map" class="mt-4" style="height: 500px;"></div>
{% endblock %}

 <!-- leaflet script -->
{% block scripts %}
<script>
   // Initialize the map
const map = L.map('map').setView([14.599512, 120.984222], 13);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19
}).addTo(map);

// map click event
let firstMarker;
map.on('click', function(e) {
    if (!firstMarker) {
        firstMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
    } else {
        let secondMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

        // Initialize the route
        L.Routing.control({
            waypoints: [
                firstMarker.getLatLng(),
                secondMarker.getLatLng()
            ]
        }).on('routesfound', function(e) {
            console.log(e);
            e.routes[0].coordinates.forEach(function(coord, index){
                setTimeout(() => {
                    firstMarker.setLatLng([coord.lat, coord.lng]);
                }, 100 * index);
            });
        }).addTo(map);

        // Reset firstMarker for the next route
        firstMarker = null;
        }
    });

// Location Search
L.Control.geocoder().addTo(map);

</script>
{% endblock %}