{% extends '_base.html' %}

{% block title %}
Walk Well
{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1 class="text-center">Walk Well</h1>
    <div id="map" class="mt-4" style="height: 500px;"></div>
    <button class="zoom-to-layer">Go Back</button>
{% endblock %}

 <!-- leaflet script -->
{% block scripts %}
<script>
   // Initialize the map
var map = L.map('map').setView([14.599512, 120.984222], 13);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19
}).addTo(map);

// map click event
let markers = [];
map.on('click', function(e) {
    let newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
    markers.push(newMarker);

    if (markers.length > 1) {
        let lastMarker = markers[markers.length - 2];

        // Initialize the route
        L.Routing.control({
            waypoints: [
                lastMarker.getLatLng(),
                newMarker.getLatLng()
            ]
        }).on('routesfound', function(e) {
            console.log(e);
            e.routes[0].coordinates.forEach(function(coord, index){
                setTimeout(() => {
                    lastMarker.setLatLng([coord.lat, coord.lng]);
                }, 100 * index);
            });
        }).addTo(map);
    }
});

// Location Search
L.Control.geocoder().addTo(map);

// Reset Location
$('.zoom-to-layer').click(function() {
    map.setView([14.599512, 120.984222], 13);
})

</script>
{% endblock %}